{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<marquee style = "font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: rgb(31, 125, 187); margin-top: 1%; font-weight: bold">View Recruiters - Pending</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="uname" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">
    <label><b>Status</b></label>
    <select class="form-control" name="status">
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
    </select>
    <br>
    <input type="submit" class="btn btn-primary">
</form>

{% if error == "no" %}
<script>
    alert("Status Change Successfull");
    window.location = ("{% url 'recruiter_all' %}");
 </script>
 {% endif %}
 {% if error == "yes" %}
 <script>
    alert("Something went wrong try again");
 </script>
 {% endif %}


{% include 'footer.html' %}
{% endblock %}
