{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<script>
   function checkpass()
   {
      if(document.signup.pwd.value!=document.signup.cpwd.value)
      {
         alert('Password and confirmed password does not match')
         document.signup.cpwd.focus();
         return false;
      }
      return true;
   }
</script>

<marquee style = "font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: rgb(31, 125, 187); margin-top: 1%; font-weight: bold">Edit Job List</marquee>
<hr>
<form class="container mt-5"  method="post"enctype="multipart/form-data">
   {% csrf_token %}
   <div class="form-row">
      <div class="form-group col-md-12">
         <label>Job Title</label>
         <input type="text" class="form-control" name="jobtitle" value="{{ job.title }}">
      </div>
   </div>
   <div class="form-row">
      <div class="form-group col-md-6">
         <label>Start Date</label> [{{ job.start_date }}]
         <input type="date" class="form-control" name="startdate" >
      </div>
      <div class="form-group col-md-6">
         <label>End Date</label>  [{{ job.end_date }}]
         <input type="date" class="form-control" name="enddate" >
      </div>
   </div>
   <div class="form-row">
    <div class="form-group col-md-6">
       <label>Salary (per month)</label>
       <input type="text" class="form-control" name="salary" required value="{{ job.salary }}">
    </div>
    <div class="form-group col-md-6">
       <img src="{{job.image}}" width="100" height="100"> <a href="{% url 'change_logo' job.id %}">Change Company Logo</a>
    </div>
    </div>

   <div class="form-row">
      <div class="form-group col-md-6">
         <label>Experience (in Year)</label>
         <input type="text" class="form-control" name="experience" value="{{ job.experience }}">
      </div>
      <div class="form-group col-md-6">
        <label>Company Location</label>
        <input type="text" class="form-control" name="location" value="{{ job.location }}">
     </div>
   </div>
   <div class="form-row">
    <div class="form-group col-md-12">
       <label>Skills </label>
       <input type="text" class="form-control" name="skills" value="{{ job.skill }}">
    </div>
    <div class="form-group col-md-12">
        <label>Description </label>
        <textarea class="form-control" name="description" >{{ job.description }}</textarea>
     </div>
 </div>
   
<input type="submit" value="submit" class="btn btn-primary">
</form>
<br>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Job detail has been updated");
    window.location = ("{% url 'edit_jobdetails' job.id %}");
 </script>
 {% endif %}
 {% if error == "yes" %}
 <script>
    alert("Something went wrong try again");
 </script>
 {% endif %}



{% include 'footer.html' %}
{% endblock %}
