{% load static %}

{% block body %}

{% include 'navigation.html' %}
<marquee style = "font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: rgb(31, 125, 187); margin-top: 1%; font-weight: bold">User Login</marquee>
<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>User Name</b></label>
    <input type="text" class="form-control" name="uname" placeholder="Enter UserName">
    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password"><br>
    <input type="submit" value="Login" class="btn btn-primary">
    <a href="{% url 'user_signup'%}">Create an Acccount</a>
</form>
<br>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Login Successfull");
    window.location = ("{% url 'user_home' %}");
 </script>
 {% endif %}
 {% if error == "yes" %}
 <script>
    alert("Something went wrong try again");
 </script>
 {% endif %}

{% endblock %}

